
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgba(245, 211, 236, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 290px;
    padding: 14px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.qr-box img {
    width: 100%;
    border-radius: 10px;
}

.card h1 {
    font-size: 20px;
    margin: 15px 10px;
    color: #f16cc0;
    font-weight: 700;
}

.card p {
    font-size: 14px;
    color: #7b879d;
    line-height: 1.4;
    padding: 0 10px 10px;
    font-weight: 400;
}
